footer {

    .footer-content {
        padding: 1.3rem;
        align-items: center;
        text-align: center;

        .col-12{
            margin-bottom: 1rem;
        }
    }

    .twitter-svg {
        fill: #fff;
        width: 3rem;
    }

    .img-logo {
        width: 8rem;
        margin: .5rem auto 0;
    }

    .logo-footer{
        margin: 0 auto;
    }
    svg,
    .link-instagram > .instagram-svg path,
    .link-discord > .discord-svg path,
    .link-opensea > .opensea-svg path,
    .link-mail > .mail-svg path{
        transition: all 0.2s ease-in-out;
    }

    .footer-links {
        margin: 2rem auto 0.5rem;
        width: 40%;
        gap: 0px;
    }


    .copy-terms {
        .copyright-text,
        a {
            display: inline-block;
            font-size: 0.75rem;
            margin: 1rem;
            transition: all 0.2 ease-in-out;
        }
    }

    .link-mail:hover > .mail-svg path {
        fill: #f2a60c;
    }
}

.copy-terms a:hover{
    color: #921174;
}



@media screen and (max-width: 890px) {
    .footer-links {
        width: 100% !important;
    }
    .copy-terms {
        flex-direction: column;
        align-items: center;
        p,
        a {
            font-size: 0.75rem !important; 
            margin: 1rem 0.5rem !important;
        }
    }
}

@media screen and (max-width: 320px){
    
    #twitter-id-footer{
        width: 1.8rem !important;
    }
}