footer {
    background-image: linear-gradient(
        to right,
        #07060e,
        #101016,
        #16171c,
        #1b1d23,
        #20232a,
        #20232a,
        #20232a,
        #20232a,
        #1b1d23,
        #16171c,
        #101016,
        #07060e
    );
    .footer-content {
        padding: 1.3rem;
        align-items: center;
        text-align: center;
    }

    .twitter-svg{
        fill: #fff;
        width: 2rem;
    }

    .img-logo {
        width: 3rem;
    }
    
    svg,
    .link-instagram > .instagram-svg path,
    .link-discord > .discord-svg path,
    .link-opensea > .opensea-svg path {
        transition: all 0.2s ease-in-out;
    }

    .footer-links {
        margin: 2rem auto 0.5rem;
        width: 30%;
        gap: 0px;
    }

    .copy-terms {

        .copyright-text,
        a {
            display: inline-block;
            font-size: 0.9rem;
            margin: 1rem;
        }

    }
}

@media screen and (max-width: 880px) {
    .footer-links {
        width: 90% !important;
    }
    .copy-terms {
        flex-direction: column;
        align-items: center;
        p,
        a {
            margin: 1rem 0.5rem !important;
        }
    }
}



