header {
    background-image: url(../Pictures/Banner-Header.svg);
    background-repeat: repeat;
    .container-fluid {
        padding: 1rem 2rem;
    }

    .twitter-svg{
        fill: #fff;
        width: 2rem;
    }

    .img-logo {
        width: 3rem;
    }

}

.link-twitter:hover > .twitter-svg{
    fill: #1DA1F2;
    transition: all 0.2s ease-in-out;
}

.link-instagram:hover > .instagram-svg path{
    fill: #E1306C;
    transition: all 0.2s ease-in-out;
}

.link-discord:hover > .discord-svg path{
    fill: #5865F2;
    transition: all 0.2s ease-in-out;
}

.link-opensea:hover > .opensea-svg path{
    fill: #1868B7;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {

    header{
        background-repeat: repeat !important;
    nav{

        .container-fluid{
            padding: .5rem 1rem !important;
        }

        svg:not(.img-logo){
            width: 1.5rem !important;
        }

        .img-logo{
            width: 2rem !important;
        }
    }
}

}

