body {
    background-color: #07070f;
    background-image: url(../assets/svg/stars-background-main.svg);

    img {
        pointer-events: none;
    }
}

main {
    display: inline-block;
    width: 100%;

    .main-ilustration {
        margin: 0;

        .ilustration {
            width: 100%;
            margin-top: -1px;
        }

        .ilustration-divisor {
            margin-top: -2px;
            margin-bottom: 2rem;
            width: 100%;
        }

        #divisor {
            margin-top: -1px;
        }
    }

    .society-information,
    .society-explaniated,
    .sd-as-brand,
    .being-stranger {
        width: 90%;
        margin: 2rem auto;
        align-items: center;

        .text-explaniation {
            text-align: justify;
            margin-top: 1rem;
        }
    }

    .sd-as-brand {
        margin: 5rem auto;
        text-align: right;
        p {
            text-align: justify;
            text-align-last: right;
        }
        .sd-brand-text {
            padding: 0 2rem 0 3rem;
        }

        .sd-brand-images {
            width: 90%;
            padding-bottom: 3rem;
            margin: 0 auto;
            display: block;
        }
    }

    .text-button-society {
        margin-right: 2rem;
    }

    .society-section {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        img {
            width: 80%;
        }

        .mint-text {
            margin-left: 3rem;
            text-align: center;
            text-align-last: center;
        }
    }

    .text-society {
        margin-left: 2rem;
    }

    .society-information {
        margin: 0 auto 1rem;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .society-explaniated {
        flex-direction: row-reverse;
        margin: 2rem auto;

        img {
            display: block;
            margin: 0 auto;
            width: 85%;
        }

        p {
            text-align: justify;
        }

        .sell-button {
            width: 90%;
            padding: 3rem;
            margin: 1rem auto;
            float: right;
            background-color: #464748;
            color: #fff;
            border: 2px solid #262b34;
            border-radius: 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
        }

        .button-wrapper {
            position: relative;
            display: inline-block; 
            width: 100%;
        }

        .tick_disappear {
            opacity: 0;
        }
    }

    .titles-change {
        font-size: 2.8rem;
    }

    .benefits-pictures {
        .img-container {
            width: 80%;
            margin: 0 2rem;
            float: right;
            img {
                width: 100%;
                margin: 0.5rem auto;
                border-radius: 0.7rem;
            }
        }
    }

    #countdown {
        font-family: "Gilbert-Bold-Preview4", Gilbert;
        text-align: center;
        font-size: 1.8rem;
    }

    .changing-pictures {
        width: 100%;
    }

    .row-cols-2 > * {
        padding-left: 0.25rem;
    }

    .road-map-container,
    .designer-information {
        width: 90%;
        margin: 3rem auto;
        align-items: center;

        img {
            margin: 1rem auto;
            display: block;
        }

        p {
            text-align: justify;
        }

        li {
            list-style: disc;
        }
    }

    .road-map-container {
        width: 70%;

        .col-4 {
            margin: 1.5rem auto;
        }
        img {
            width: 5rem;
        }
        .diferent-width {
            width: 7rem;
        }

        #lower-width {
            width: 4rem;
        }
    }

    .title-road {
        text-align: center;
        padding: 2rem;
    }

    .designer-information {
        margin: 4rem 2rem;
        img {
            width: 60%;
            border-radius: 1rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.animated-appear {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.sd-text,
.road-map-link {
    transition: all 0.2s ease-in-out;
}

.sd-text:hover {
    color: rgb(211, 167, 23);
}

.road-map-link:hover {
    color: #98e1e5;
}

@media screen and (max-width: 1210px) {
    .mint-text br {
        display: none !important;
    }
}

@media screen and (max-width: 990px) {
    .society-information,
    .society-explaniated {
        margin: 0 auto 1rem !important;
        flex-direction: column-reverse !important;

        h2 {
            text-align: center !important;
            margin: 2rem auto;
            font-size: 3rem;
        }

        p {
            text-align: justify !important;
            font-size: 1.2rem !important;
        }
        img {
            float: none !important;
            margin: 3rem auto 0.5rem;
            width: 100% !important;
        }
    }

    .ilustration-divisor {
        margin-bottom: 0 !important;
    }

    #countdown {
        text-align: center !important;
        font-size: 1.8rem !important;
    }

    .mint-text {
        margin-left: 0 !important;
    }

    .mint-text,
    .text-explaniation,
    .text-designer-info {
        text-align-last: center !important;
    }

    .text-explaniation {
        margin: 2rem auto !important;
    }

    .road-illustration {
        display: none !important;
    }

    .title-road {
        padding: 1rem 2rem !important;
    }

    .society-explaniated {
        flex-direction: column-reverse !important;
        margin: -2rem auto 1rem !important;

        p {
            margin-top: 1rem;
        }

        .sell-button {
            width: 100% !important;
            padding: 2rem !important;
            margin: 1.5rem auto 1rem !important;
            float: none !important;
            display: block;
            justify-content: center;
        }
    }

    .text-button-society {
        margin-right: 0 !important;
        margin-top: 1rem;
    }

    .text-society {
        margin-left: 0 !important;
    }

    .benefits-pictures {
        margin: 0 auto !important;
        float: none !important;
    }

    .img-container {
        width: 100% !important;
        margin: 0 auto 0 0.25rem !important;
        float: none !important;

        img {
            justify-content: center !important;
        }
    }

    .being-stranger,
    .sd-as-brand {
        flex-direction: column !important;
        margin: 2rem auto !important;

        h2 {
            text-align: center !important;
            font-size: 3rem !important;
        }

        p {
            text-align: justify !important;
            font-size: 1.2rem !important;
        }
    }

    .sd-as-brand {
        flex-direction: column-reverse !important;
        p {
            text-align-last: center !important;
        }
        .sd-brand-text {
            margin-top: 3rem;
            padding: 0 !important;
        }
    }

    .road-map-container {
        width: 100% !important;

        h2 {
            font-size: 3rem !important;
            margin-bottom: 0;
        }
        p {
            font-size: 1.2rem !important;
            text-align: justify !important;
            margin: 1rem !important;
        }
    }

    .designer-information {
        flex-direction: column !important;
        margin: 3rem auto 4rem !important;

        p:not(.designer-sign) {
            font-size: 1.5rem !important;
            text-align: center !important;
            margin: 1rem auto 0 !important;
        }

        img {
            width: 90% !important;
        }
    }

    .img-container .images-benefits.active {
        position: absolute;
        top: auto;
        left: 0rem;
        width: 100%;
        z-index: 100;
        padding: 0 1rem;
    }
    .images-benefits.active::before {
        content: "Click again to close the picture";
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translate(-50%, -25px);
        width: 50%;
        text-align: center;
        background-color: #131314cc;
        border: 1px solid #262b34;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 3rem !important;
    }

    #countdown {
        font-size: 1.4rem !important;
    }
}

@media screen and (width: 375px), (width: 912px), (width: 280px) {
    .ilustration-divisor {
        margin-top: -1px !important;
    }
}

@media screen and (max-width: 320px) {
    nav {
        .nav-link {
            padding: 0.5rem 0.7rem !important;
        }
    }

    .road-map-container p {
        font-size: 0.8rem !important;
    }
    .img-logo {
        width: 6rem !important;
    }
    .footer-links svg {
        width: 1rem !important;
    }

    #twitter-id {
        width: 1.5rem !important;
    }

    .copy-terms {
        .copyright-text,
        a {
            font-size: 0.6rem !important;
        }
    }
}
