@import "reset";
body{
    background-color: #07070f;
}

h1 {
    font-family: "gilbert", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #fff;
}

h2 {
    font-family: "gilbert", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: #fff;
}

h3{
    font-family: "gilbert", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
}

p, li {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    color: #f7f7f7;
}

li {
    list-style: none;
}

div {
    font-size: 1rem;
    color: #fff;
}

a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #fff;
}

button{
    font-family: "gilbert", sans-serif;
    font-weight: 700;
    font-style: normal;

}

:root {
    color-scheme: dark;
}

@import "header";
@import "main";
@import "footer";
@import "tycStyle";

