
@import "reset";

h1{
    font-family: 'Overlock', cursive;
    font-size: 6rem;
    color: #fff;

}

h2{
    font-family: 'Overlock', cursive;
    font-size: 4rem;
    color: #fff;    
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #fff;

}

li{
    list-style: none;
}

div{
    font-size: 1rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

@import "header";
@import "main";
@import "footer";